# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Lingkungan virtual
venv/
.venv/
env/

# File spesifik IDE
.vscode/
.idea/
.cursorrules

# Log
logs/
*.log

# Variabel lingkungan
.env

# File sesi Telegram
*.session
*.session-journal
session.session

# File konfigurasi (opsional, hapus komentar jika ingin mengecualikan)
# config.yaml

# Abaikan isi folder data
# data/*

# File yang dihasilkan oleh sistem operasi
.DS_Store
Thumbs.db

# Folder Ruff cache
.ruff_cache/
